:root {
    --dark-purple: #2a1b3d;
    --middle-purple: rgba(68, 49, 141, 0.6);
    --light-purple: rgba(179, 156, 199, 0.8);
    --light-nav: #6b57b4;
    --light-text-color: #f8f8e3;
    --dark-text-color: rgba(22, 17, 27, 0.9);
  }

body {
    padding: 65px 0px 0px 0px;
    margin: 40px;
    background-image: linear-gradient(to bottom, var(--dark-purple) 30%, var(--middle-purple), var(--light-purple) 80%);
    color: var(--light-text-color);
    background-size: 100% 300%;
    background-position: 100% 0%;
    transition: all 1.5s;
  }
  body.day {
    background-position: 100% 100%;
}
nav a:link, a:visited, a:hover {
    text-decoration: none;
    color: var(--light-text-color)
  }

  a:hover {
    text-decoration: underline;
  }
 

.row-header {
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }
.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}
.footer{
    background-color: var(--middle-purple);
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    background-color: var(--middle-purple);;
    padding:30px;
    margin:0px auto;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--light-text-color);
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
.modes {
    position: fixed;
	right: 25px;
	top: 20px;	
}

.bg-dark {
    background-color: var(--dark-purple)!important;
    color: var(--light-text-color)!important;
    font-size: 1.2em;
}
.bg-secondary {
    background-color:var(--middle-purple)!important;
    color: var(--light-text-color)!important;
    font-size: 1.2em;
}
.nav-ligth {
    background-color: var(--light-nav)!important;
}
.bg-light {
    background-color: var(--light-purple)!important;
}
.dark-text {
color: var(--dark-purple)!important;
}
.light-text {
    color: var(--light-text-color)!important;
}
.flower_div {
    position: fixed;
	left: -225px;
    top: -225px;
    z-index: -1;	
}
#flower {
max-width: 500px;
}

.jumbotron {
    padding:30px;
    margin:0px auto;
    color:var(--light-text-color);
}
.nav-item:not(.active):hover {
    background-color:rgba(89, 63, 131, 0.3);
}
.active {
    background-color:rgba(83, 49, 131, 0.5);
}
#contact-button {
     color: var(--light-purple)!important;
     background-color: var(--light-nav);
    }
#contact-button:hover {
background-color: rgba(47, 29, 58, 0.6)!important;
color: rgba(195, 192, 199, 0.8)!important;
}
#contact-button:active {
    background-color: rgb(161, 35, 145)!important;
    color: rgb(183, 101, 199)!important;
    }
    #contact-button:visited {
        background-color:  var(--dark-purple)!important;
    } 

.mybackground {
    background-image: url("/pics/darksmoke.png");
    background-repeat: no-repeat;
    background-position: center;
}

.app {
    margin: 10px 0;
    padding: 10px;
    display:block;
    border: yellow 1px solid;
}
.apps {
    padding:5px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 700px;
}
.ukr {
    display: none;
}



